.carta {    
    width:125px;
    height: 125px;
}

.portada{
    width:125px;
    height: 125px;
    background-color: rgb(144, 206, 51) ;
}

.contenido{
    width:125px;
    height: 125px;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: rgb(164, 3, 233);
}

.ReactFlipCard{
    width:100px;
    height: 100px;
}